module {{.ModulePath}}

go 1.23.0

require (
	github.com/gin-gonic/gin v1.10.1
	github.com/google/uuid v1.6.0
	github.com/jackc/pgx/v5 v5.7.5
	github.com/pressly/goose/v3 v3.24.3
	github.com/spf13/viper v1.20.1
	go.uber.org/zap v1.27.0
	golang.org/x/crypto v0.38.0
{{- if .IncludeKeycloak}}
	github.com/Nerzal/gocloak/v13 v13.9.0
{{- end}}
{{- if .IncludeJWT}}
	github.com/golang-jwt/jwt/v5 v5.3.0
{{- end}}
{{- if .IncludeGORM}}
	gorm.io/driver/postgres v1.6.0
	gorm.io/gorm v1.31.1
{{- end}}
{{- if .IncludeSwagger}}
	github.com/swaggo/swag v1.16.6
	github.com/swaggo/gin-swagger v1.6.1
	github.com/swaggo/files v1.0.1
{{- end}}
)
